drkiq:
  build: .
  command: rails s -b 0.0.0.0
  ports:
    - '3000:3000'
  volumes:
    - "/home/ambianceur/development.sqlite3:/drkiq/db/development.sqlite3"

sidekiq:
  build: .
  command: rackup sync.ru -E production -p 9292 -o 0.0.0.0
  ports:
    - '9292:9292'
