<div class="playlist">
  <ul class="nav nav-tabs nav-justified" role="tablist">
    <li role="presentation" id="playlist_tab_link" class="active"><a href="#playlist" aria-controls="playlist" role="tab" data-toggle="tab">Playlist</a></li>
    <li role="presentation" id="history_tab_link"><a href="#history" aria-controls="history" role="tab" data-toggle="tab">Historique</a></li>
    <li role="presentation" id="liked_tab_link"><a href="#liked" aria-controls="liked" role="tab" data-toggle="tab">Kiffs ❤</a></li>
  </ul>

  <div class="tab-content">
    <%= sync partial: 'playlist', resource: room %>
    <%= sync partial: 'history', resource: room %>
    <%= sync partial: 'liked', resource: room %>
  </div>

</div>

<script>
  $('#playlist a').click(function (e) {
    e.preventDefault()
    sizeThumbnails()
    $(this).tab('show')
  })
  $('#history a').click(function (e) {
    e.preventDefault()
    sizeThumbnails()
    $(this).tab('show')
  })
  $('#liked a').click(function (e) {
    e.preventDefault()
    sizeThumbnails()
    $(this).tab('show')
  })
</script>
