<div class="songs-lists">
  <ul class="nav nav-tabs nav-justified">
    <li role="presentation" id="playlist_tab_link" class="active"><a href="#playlist" aria-controls="playlist" role="tab" data-toggle="tab">Playlist</a></li>
    <li role="presentation" id="history_tab_link"><a href="#history" aria-controls="history" role="tab" data-toggle="tab">Historique</a></li>
    <li role="presentation" id="liked_tab_link"><a href="#liked" aria-controls="liked" role="tab" data-toggle="tab">Kiffs ❤</a></li>
  </ul>
</div>
<%= sync partial: 'song_lists', resource: room %>


<script>
  sizeThumbnails()
  $('#playlist_tab_link').click(function (e) {
    e.preventDefault()
    displayPlaylist()
  })
  $('#history_tab_link').click(function (e) {
    console.log("YOOO")
    e.preventDefault()
    displayHistory()
  })
  $('#liked_tab_link').click(function (e) {
    e.preventDefault()
    displayLiked()
  })
</script>
