<div role="tabpanel" class="tab-pane" id="liked">
  <table class="table">
    <% room.songs.where(liked: true).order("modified_at DESC").to_a.uniq {|item| item.name }.each do |song| %>
      <tr class='clickable-row' title='Réécouter' onClick="replay('<%= song.link %>', '<%= room.id.to_s %>')">
        <td><img src="<%= song.thumbnail %>" class="liked-thumbnail"</td>
        <td><%= song.name %></td>
      </tr>
    <% end %>
    <script>
    emptyNewSongForm()
    sizeThumbnails()
    </script>
  </table>
</div
