
<div class ="row">
    <% if display_video == true %>
    <div class="col-lg-6">
    <% else %>
    <div class="centered"
    <% end %>
      <div class="player">

        <div id="activatePlayer">
          <h3>Lecteur</h3>
          <label class="switch">
            <% if display_video == true %>
              <input type="checkbox" id="unablePlayer" onchange="triggerPlayer()" checked>
            <% else %>
              <input type="checkbox" id="unablePlayer" onchange="triggerPlayer()">
            <% end %>
            <div class="slider round"></div>
          </label>
        </div>

        <% if display_video %>
        <div id="player"></div>
        <%= sync partial: 'player_show', resource: player %>
        <% else %>
        <%= sync partial: 'current_song_title', resource: player %>
        <% end %>
      </div>
    </div>


<script>
  function triggerPlayer() {
    let display_video = document.getElementById("unablePlayer").checked
    window.location = "<%= '/rooms/join?name=' + @room.name + '&display_video=' %>" + display_video
  }
</script>
