<div class="row">
  <div class="row-fluid" id="add_video">
    <div class="col-lg-4"></div>
      <div class="col-lg-4">
          <div class="container-4" id="search-container">
            <form action="" method="post" name="hyv-yt-search" id="hyv-yt-search">
              <input type="search" name="hyv-search" id="hyv-search" placeholder="Chercher une video ou copier un lien Youtube" class="ui-autocomplete-input" autocomplete="off">
              <button class="icon" id="hyv-searchBtn"></button>
            </form>
          </div>
          <div id="hyv-watch-content" class="hyv-watch-main-col hyv-card hyv-card-has-padding">
            <ul id="hyv-watch-related" class="hyv-video-list">
            </ul>
          </div>
      </div>
      <div class="col-lg-4"></div>
  </div>
</div>

<template id="searchResults">
  <table class='table'>
    <tbody></tbody>
  </table>
</template>

<template id="searchResult">
  <li class="clickable-row video-suggestion" data-room-id="<%= room_id.to_s %>" title="Voir cette vidéo">
    <img class="search-result-thumbnail" />
    <span class="search-result-title"></span>
  </li>
</template>

<script>
  $(document).ready(function() {
    $("#hyv-searchBtn").on("click", function( event ) {
      youtubeApiCall();
      return false;
    });
    autocomplete("#hyv-search");
  });

  $('html').click(function(event){
    if(!event.target.classList.contains('video-suggestion')) {
      $("#hyv-watch-related").html("");
    }
  });
</script>
