<div id="current_song">
  <% if !player.song_id %>
    <p>Pas de video en cours de lecture</p>
  <% else %>
    <% current_song = Song.find(player.song_id) %>
    <p><%= "Lecture en cours : " + current_song.name %></p>
  <% end %>
</div>
