// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.row {
  text-align: center;
  margin-bottom: 50px;
}

.player, .playlist {
  display: inline-block;
  text-align: left;
}

.centered .player {
  text-align: center;
}

@media (max-width: 767px) {
    .row {
        margin-bottom: 20px;
    }
}

.playlist {
  width: 100%;
}

.clickable-row, #a-next {
  cursor: pointer;
}

#table-history, #table-liked {
  display: none;
}

#table-history .clickable-row:hover {
  background-color: grey;
}

#ltable-iked .clickable-row:hover {
  background-color: pink;
  color: grey;
}

#like:hover {
  color: red;
}
