   .container-4 input#hyv-search {
     width: 90%;
     height: 30px;
     border: 1px solid #c6c6c6;
     font-size: 10pt;
     float: left;
     padding-left: 15px;
     -webkit-border-top-left-radius: 5px;
     -webkit-border-bottom-left-radius: 5px;
     -moz-border-top-left-radius: 5px;
     -moz-border-bottom-left-radius: 5px;
     border-top-left-radius: 5px;
     border-bottom-left-radius: 5px;
   }
   .container-4 button.icon {
     height: 30px;
     background: #f0f0f0 url('searchicon.png') 10px 1px no-repeat;
     background-size: 24px;
     -webkit-border-top-right-radius: 5px;
     -webkit-border-bottom-right-radius: 5px;
     -moz-border-radius-topright: 5px;
     -moz-border-radius-bottomright: 5px;
     border-top-right-radius: 5px;
     border-bottom-right-radius: 5px;
     border: 1px solid #c6c6c6;
     width: 10%;
     margin-left: -44px;
     color: #4f5b66;
     font-size: 10pt;
   }

#add_video .clickable-row {
    background-color: rgb(172, 100, 100);
}

#add_video .clickable-row:hover {
    background-color: rgb(172, 50, 50);
}


#hyv-watch-related {
    position: absolute;
    z-index: 2;
}
